<h4>reactive forms</h4>
<form [formGroup]=signUpForm (ngSubmit)="login()">
    <div formGroupName="account">
        <div *ngIf="signUpForm.errors" class="alert alert-danger">
            Form error default message
        </div>
        <div class="form-group">
            <label for="username">Username</label>
            <input 
                formControlName="username"
                id="username" 
                type="text" 
                class="form-control">    
            <div *ngIf="username.pending"><i class="fas fa-spinner fa-spin fa-2x"></i></div>
            <div *ngIf="username.touched && username.invalid" class="alert alert-danger">
                <div *ngIf="username.errors && username.errors.required">username is required</div>
                <div *ngIf="username.errors && username.errors.minlength">username shoud be {{username.errors.minlength.requiredLength}} minimun</div>
                <div *ngIf="username.errors && username.errors.cannotContainSpace">usename cannot contain space</div>
                <div *ngIf="username.errors && username.errors.shoulBeUnique">usename already exists</div>
            </div>
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input 
                formControlName="password"
                id="password" 
                type="password" 
                class="form-control">
        </div>
    </div>
    <button [disabled]="!signUpForm.valid" class="btn btn-primary" type="submit">Sign Up</button>
</form>