<div class="course" *ngIf="courses.length > 0; then coursesList else courseEmpty"></div>
<ng-template #coursesList > List of courses</ng-template>
<ng-template #courseEmpty > No courses yet</ng-template>

<!-- --------------------------------------------------------------------------------------------- -->
<div class="my-switch-view">
    <nav class="nav nav-pills nav-fill">
        <a class="nav-item nav-link type-view" [class.active]="view == 'grid'" (click)="setView('grid')">Grid View</a>
        <a class="nav-item nav-link type-view" [class.active]="view == 'list'" (click)="setView('list')">List View</a>
    </nav>
    <div [ngSwitch]="view">
        <ng-container *ngSwitchCase="'grid'" [ngTemplateOutlet]="gridView"></ng-container>
        <ng-container *ngSwitchCase="'list'" [ngTemplateOutlet]="listView"></ng-container>
        <div *ngSwitchDefault>default View</div>
    </div>
</div>

<ng-template #gridView> GridView Content</ng-template>
<ng-template #listView> ListView Content</ng-template>

<!-- --------------------------------------------------------------------------------------------- -->
<br/>
<h3> list of user with ngFor</h3>
<button class="btn btn-primary" (click)="getUsers()">get courses</button>
<ul>
    <li *ngFor="let user of users; trackBy: trackCourse"> 
        {{user.title}}  
        <span> 
            <button class="btn btn-danger" (click)="onRemoveUser(user)"> Remove</button> 
            <button class="btn btn-info" (click)="onChangeUser(user)"> Change</button>             
        </span>
    </li>
</ul>
<button class="btn btn-primary" (click)="onAddUser()">Add user</button>