<nav class="card-header nav nav-pills nav-fill ">
    <a 
        routerLink="/followers" 
        [queryParams]="{page:1, order: 'newest'}" 
        class="nav-item nav-link type-view my-nav" routerLinkActive="active current" 
    >
        Followers
    </a>
    <a 
        routerLink="/posts" 
        class="nav-item nav-link type-view my-nav" routerLinkActive="active current" 
    >
        Posts
    </a>
</nav>
