<h4>array form</h4>
<form [formGroup]="courseForm" [style.minHeight]="'400px'">
    <input
        #topic
        type="text"
        class="form-control"
        (keyup.enter)="addTopic(topic)"
    >
    <ul class="list-group">
        <li 
            *ngFor="let topic of topics.controls; index as i" 
            class="list-group-item" 
            [style.cursor]="'pointer'" 
            (click)="removeTopic(i)">
                {{topic.value}} 
        </li>
    </ul>
</form>

