<!-- <app-binding></app-binding> -->

<!-- ******************************************************* -->
<!-- <courses></courses> -->

<!-- ******************************************************* -->
<!-- <favorite 
        [is-favorite]="posts.isFavorite" 
        (mychange)="handleFavoriteChanged($event)">
    </favorite> -->

<!-- ******************************************************* -->
<!-- <bootrap-panel>
    <ng-container class="heading">Header</ng-container>
    <ng-container class="body">
        <h3>
            Body
        </h3>
        <p> lorem ipsum ...</p>
    </ng-container>
</bootrap-panel> -->

<!-- ******************************************************* -->
<!-- <directive-component></directive-component> -->

<!-- ******************************************************- -->
<!-- <hr/> <input placeholder="custom directive to Lowercase" type="text" appInputFormat [format]="'lowerCase'"/> -->

<!-- ******************************************************* -->
<!-- <signup-form></signup-form> -->

<!-- ******************************************************* -->
<!-- <form-array></form-array> -->

<!-- ******************************************************* -->
<!-- <posts></posts> -->

<!-- ******************************************************* -->
<!-- <github-followers></github-followers> -->

<!-- ******************************************************* -->
<app-navbar></app-navbar>
<router-outlet></router-outlet>