<h1>Angular!!!</h1>
<button class="btn btn-primary" [class.back-color]="isActive" (click)="onButtonClick()"> 
    bootstrap button 
</button>
<p [style.color]="fontColor" >paragraph with style</p>
<input (keyup)="onInputKeyUp($event)"/>
<input 
    (keyup.enter)="onEnterKeyUp($event)" 
    placeholder="display value when Enter key is pressed"
/>
<input 
    #email
    (keyup.enter)="onInputWithTemplateVariable(email.value)"    
    placeholder="template variable"
/>
<br/>
<input
    [(ngModel)]="name"
    (keyup.enter)="onTwoWayBinding()"
    placeholder="two way binding"
/>
