<h4>http</h4>
<input 
    #title
    (keyup.enter)="createPost(title)" 
    type="text" class="form-control">
<button class="btn btn-danger" (click)="getPost()">simulate 404 error</button>
<ul class="list-group">
  <li 
    *ngFor="let post of posts"
    class="list-group-item">
    <button 
      (click)="deletePost(post)"
      class="btn btn-default btn-sm">Delete</button>
    {{ post.title }}
  </li>
</ul>