<div class="media card-media" *ngFor="let follower of followers">
    <img class="mr-3" [src]="follower.avatar_url" height="50px" [style.borderRadius]="'50%'" alt="Generic placeholder image">
    <div class="media-body">
        <h5 class="mt-0">
            <a [routerLink]="['/followers', follower.id, follower.login]"> {{follower.login}} </a>    
        </h5>
           <a [href]="follower.html_url" target="_blank">{{follower.html_url}} </a>
    </div>
</div>
